django==1.11.29
beautifulsoup4==4.6.3
certifi==2018.10.15
chardet==3.0.4
idna==2.7
lxml==4.2.5
requests==2.20.0
six==1.11.0
urllib3==1.24
dateparser==0.7.1
nltk==3.4.4
matplotlib==3.1.1
numpy==1.17.2
sklearn==0.0
pymorphy2==0.8
pandas==0.25.1